

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

input{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-transform: uppercase;
}

.input-container{
	padding-bottom: 5px;
	border-bottom: 1px solid #ac965c;
}

.input-ticker {
	width:100%; 
	margin: 10px 0 0 0; 
	border:none;
	background: transparent;
	outline: none;
}

.border{
	border: 15px solid #ac965c;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 10;
	pointer-events: none;
}

.holder {
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 0;
	padding: 15px;
}

.graph-holder {
	background-color: #1a1a1a;
	height: 100%;
	position: fixed;
	width: 64%;
	right: 0;
	margin-right: 15px;
}

.ticker-holder {
	width: 34%;
	float: left;
	padding: 30px;
}

.ticker-1{border-top: 5px solid #ac965c; padding-top: 30px;}
.ticker-2{border-top: 5px solid #f6f6f6; padding-top: 30px;}
.ticker-3{border-top: 5px solid #79f7df; padding-top: 30px;}
.ticker-4{border-top: 5px solid #dd52a0; padding-top: 30px;}

.shade {
	background-color: #f6f6f6;
	overflow-x: hidden;
}

h4 {
	padding-bottom: .5em;
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
}

li:nth-of-type(odd) {
	color: #ac965c;
	font-size: 80%;
	text-transform: uppercase;
}

li:nth-of-type(even) {
	color: #1a1a1a;
	padding-bottom: 1.5em;
	font-size: 160%;
	font-weight: 300;
}

.btn-default {
	background-image: none !important;
	width: 100%;
	border-color: #ac965c;
	color: #1a1a1a;
}

.dropdown-menu{
	width: 100%;
}

.dropdown-menu>li>a {
	color: #1a1a1a;
}


.spacer-30px{
	margin-bottom: 30px;
}




/* ==========================================================================
   D3 Styles
   ========================================================================== */


.axis path,
.axis line {
	fill: none;
	stroke: #ffffff;
	shape-rendering: crispEdges;
}

.element text {
	text-anchor: end;
}

.area {
	opacity: 0.7;
}



g text{
	fill: #ffffff;
}

#graph-holder{
	overflow: scroll;
}